### Data Preparation & Data Cleaning

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [30]:
dataset_path = '../../dataset/our-worl-data/daily-new-confirmed-covid-19-cases-per-million-people.csv'
df = pd.read_csv(dataset_path)

In [31]:
df.shape

(1751, 3)

In [32]:
df.head(100)

,Entity,Day,"Daily new confirmed cases of COVID-19 per million people (rolling 7-day average, right-aligned)"
0,Indonesia,2020-03-01,0.000000
1,Indonesia,2020-03-02,0.001025
2,Indonesia,2020-03-03,0.003074
3,Indonesia,2020-03-04,0.003074
4,Indonesia,2020-03-05,0.003074
...,...,...,...
95,Indonesia,2020-06-04,2.192832
96,Indonesia,2020-06-05,2.205641
97,Indonesia,2020-06-06,2.429023
98,Indonesia,2020-06-07,2.414677
99,Indonesia,2020-06-08,2.609368

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1751 entries, 0 to 1750
Data columns (total 3 columns):
 #   Column                                                                                           Non-Null Count  Dtype
---  ------                                                                                           --------------  -----
 0   Entity                                                                                           1751 non-null   object
 1   Day                                                                                              1751 non-null   object
 2   Daily new confirmed cases of COVID-19 per million people (rolling 7-day average, right-aligned)  1751 non-null   float64
dtypes: float64(1), object(2)
memory usage: 41.2+ KB

In [34]:
df.describe()

       Daily new confirmed cases of COVID-19 per million people (rolling 7-day average, right-aligned)
count                                        1751.000000
mean                                           13.989168
std                                            30.484496
min                                             0.000000
25%                                             0.065836
50%                                             2.191295
75%                                            15.187157
max                                           199.674290

In [35]:
df.isna().sum()

Entity                                                                                             0
Day                                                                                                0
Daily new confirmed cases of COVID-19 per million people (rolling 7-day average, right-aligned)    0
dtype: int64

In [36]:
df.columns

Index(['Entity', 'Day',
       'Daily new confirmed cases of COVID-19 per million people (rolling 7-day average, right-aligned)'],
      dtype='object')

In [37]:
df.rename(columns={'Daily new confirmed cases of COVID-19 per million people (rolling 7-day average, right-aligned)': 'Daily_new_cases_per_million'}, inplace=True)

In [38]:
# Menghapus kolom births & deaths medium variant (2024 - 2100)
# df.drop(columns=['Cumulative excess deaths per 100,000 people (central estimate)', 'Cumulative excess deaths per 100,000 people (95% CI, lower bound)', 'Cumulative excess deaths per 100,000 people (95% CI, upper bound)'], inplace=True)

In [39]:
df.columns

Index(['Entity', 'Day', 'Daily_new_cases_per_million'], dtype='object')

In [40]:
df.head()

      Entity         Day  Daily_new_cases_per_million
0  Indonesia  2020-03-01                     0.000000
1  Indonesia  2020-03-02                     0.001025
2  Indonesia  2020-03-03                     0.003074
3  Indonesia  2020-03-04                     0.003074
4  Indonesia  2020-03-05                     0.003074

In [41]:
df.dropna(inplace=True)
df.isna().sum()

Entity                         0
Day                            0
Daily_new_cases_per_million    0
dtype: int64

In [42]:
# Menyimpan hasil
df.to_csv('../../dataset/cleaned-data/cleaned_data_covid19_new_cases.csv', index=False)