### Data Preparation & Data Cleaning

In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [44]:
dataset_path = '../../dataset/our-worl-data/covid-19-vaccine.csv'
df = pd.read_csv(dataset_path)

In [45]:
df.shape

(1045, 3)

In [46]:
df.head(100)

,Entity,Day,"COVID-19 doses (daily, 7-day average, per million people)"
0,Indonesia,2021-01-13,47.340584
1,Indonesia,2021-01-14,47.340584
2,Indonesia,2021-01-15,47.340584
3,Indonesia,2021-01-16,47.340584
4,Indonesia,2021-01-17,47.340584
...,...,...,...
95,Indonesia,2021-04-18,816.561040
96,Indonesia,2021-04-19,740.406740
97,Indonesia,2021-04-20,731.226560
98,Indonesia,2021-04-21,791.496150
99,Indonesia,2021-04-22,825.453250

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045 entries, 0 to 1044
Data columns (total 3 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Entity                                                     1045 non-null   object
 1   Day                                                        1045 non-null   object
 2   COVID-19 doses (daily, 7-day average, per million people)  1045 non-null   float64
dtypes: float64(1), object(2)
memory usage: 24.6+ KB

In [48]:
df.describe()

       COVID-19 doses (daily, 7-day average, per million people)
count                                        1045.000000
mean                                         1538.341926
std                                          1944.316654
min                                             0.000000
25%                                            84.350136
50%                                           397.121520
75%                                          3005.412400
max                                          7623.092000

In [49]:
df.isna().sum()

Entity                                                       0
Day                                                          0
COVID-19 doses (daily, 7-day average, per million people)    0
dtype: int64

In [50]:
df.columns

Index(['Entity', 'Day',
       'COVID-19 doses (daily, 7-day average, per million people)'],
      dtype='object')

In [51]:
df.rename(columns={'COVID-19 doses (daily, 7-day average, per million people)': 'COVID19_Doses_Daily'}, inplace=True)

In [52]:
# Menghapus kolom births & deaths medium variant (2024 - 2100)
# df.drop(columns=['Cumulative excess deaths per 100,000 people (central estimate)', 'Cumulative excess deaths per 100,000 people (95% CI, lower bound)', 'Cumulative excess deaths per 100,000 people (95% CI, upper bound)'], inplace=True)

In [53]:
df.columns

Index(['Entity', 'Day', 'COVID19_Doses_Daily'], dtype='object')

In [54]:
df.head()

      Entity         Day  COVID19_Doses_Daily
0  Indonesia  2021-01-13            47.340584
1  Indonesia  2021-01-14            47.340584
2  Indonesia  2021-01-15            47.340584
3  Indonesia  2021-01-16            47.340584
4  Indonesia  2021-01-17            47.340584

In [55]:
df.dropna(inplace=True)
df.isna().sum()

Entity                 0
Day                    0
COVID19_Doses_Daily    0
dtype: int64

In [56]:
# Menyimpan hasil
df.to_csv('../../dataset/cleaned-data/cleaned_data_covid19_vaccine.csv', index=False)