### Data Preparation & Data Cleaning

In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
dataset_path = '../../dataset/our-worl-data/covid-19-deaths.csv'
df = pd.read_csv(dataset_path)

In [27]:
df.shape

(1809, 6)

In [28]:
df.head(100)

,Entity,Day,"Cumulative excess deaths per 100,000 people (central estimate)","Cumulative excess deaths per 100,000 people (95% CI, lower bound)","Cumulative excess deaths per 100,000 people (95% CI, upper bound)","Total confirmed deaths due to COVID-19 per 100,000 people"
0,Indonesia,2020-01-01,0.190053,-0.147403,0.844916,NaN
1,Indonesia,2020-01-04,NaN,NaN,NaN,0.000000
2,Indonesia,2020-01-05,NaN,NaN,NaN,0.000000
3,Indonesia,2020-01-06,0.380728,-0.267246,1.692600,0.000000
4,Indonesia,2020-01-07,NaN,NaN,NaN,0.000000
...,...,...,...,...,...,...
95,Indonesia,2020-04-07,NaN,NaN,NaN,0.079260
96,Indonesia,2020-04-08,NaN,NaN,NaN,0.086074
97,Indonesia,2020-04-09,NaN,NaN,NaN,0.100419
98,Indonesia,2020-04-10,NaN,NaN,NaN,0.109744
99,Indonesia,2020-04-11,NaN,NaN,NaN,0.117276

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1809 entries, 0 to 1808
Data columns (total 6 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   Entity                                                             1809 non-null   object
 1   Day                                                                1809 non-null   object
 2   Cumulative excess deaths per 100,000 people (central estimate)     234 non-null    float64
 3   Cumulative excess deaths per 100,000 people (95% CI, lower bound)  234 non-null    float64
 4   Cumulative excess deaths per 100,000 people (95% CI, upper bound)  234 non-null    float64
 5   Total confirmed deaths due to COVID-19 per 100,000 people          1808 non-null   float64
dtypes: float64(4), object(2)
memory usage: 84.9+ KB

In [30]:
df.describe()

,"Cumulative excess deaths per 100,000 people (central estimate)","Cumulative excess deaths per 100,000 people (95% CI, lower bound)","Cumulative excess deaths per 100,000 people (95% CI, upper bound)","Total confirmed deaths due to COVID-19 per 100,000 people"
count,234.000000,234.000000,234.000000,1808.000000
mean,167.671389,96.605437,359.483657,40.682040
std,112.915127,74.984244,245.455489,23.361526
min,-4.841037,-14.243658,0.844916,0.000000
25%,38.303674,-0.058598,108.972980,14.644020
50%,221.083335,138.878705,401.464820,56.204572
75%,265.730550,158.850015,579.606538,58.070400
max,304.194800,177.091110,737.245500,58.120968

In [31]:
df.isna().sum()

Entity                                                                  0
Day                                                                     0
Cumulative excess deaths per 100,000 people (central estimate)       1575
Cumulative excess deaths per 100,000 people (95% CI, lower bound)    1575
Cumulative excess deaths per 100,000 people (95% CI, upper bound)    1575
Total confirmed deaths due to COVID-19 per 100,000 people               1
dtype: int64

In [32]:
df.columns

Index(['Entity', 'Day',
       'Cumulative excess deaths per 100,000 people (central estimate)',
       'Cumulative excess deaths per 100,000 people (95% CI, lower bound)',
       'Cumulative excess deaths per 100,000 people (95% CI, upper bound)',
       'Total confirmed deaths due to COVID-19 per 100,000 people'],
      dtype='object')

In [33]:
# Menghapus kolom births & deaths medium variant (2024 - 2100)
df.drop(columns=['Cumulative excess deaths per 100,000 people (central estimate)', 'Cumulative excess deaths per 100,000 people (95% CI, lower bound)', 'Cumulative excess deaths per 100,000 people (95% CI, upper bound)'], inplace=True)

In [34]:
df.columns

Index(['Entity', 'Day',
       'Total confirmed deaths due to COVID-19 per 100,000 people'],
      dtype='object')

In [35]:
df.head()

,Entity,Day,"Total confirmed deaths due to COVID-19 per 100,000 people"
0,Indonesia,2020-01-01,NaN
1,Indonesia,2020-01-04,0.0
2,Indonesia,2020-01-05,0.0
3,Indonesia,2020-01-06,0.0
4,Indonesia,2020-01-07,0.0

In [36]:
df.dropna(inplace=True)
df.isna().sum()

Entity                                                       0
Day                                                          0
Total confirmed deaths due to COVID-19 per 100,000 people    0
dtype: int64

In [37]:
# Menyimpan hasil
df.to_csv('../../dataset/cleaned-data/cleaned_data_covid19_deaths.csv', index=False)